.btn-blue {
	background-color: #102C57;
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
}

.btn-blue1 {
	padding: 15px 20px;
	border-radius: 5px;
	color: darkblue;
	margin: 133px 120px;
}

.btn-blue1:hover {
	padding: 15px 20px;
	border-radius: 5px;
	color: darkblue;
	text-decoration: underline;
}